*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;

}

#feed {
    margin: 20px auto;
    max-width: 500px;
}
.post-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.post-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.post-meta {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;
}
.post-content {
    margin-bottom: 10px;
}
.post-tags {
    font-size: 12px;
    font-weight: bold;
}
.tag {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.tag.programming {
    background-color: #8f72c6;
    color: #fff;
}
.tag.food {
    background-color: #ffba69;
    color: #fff;
}
.tag.art {
    background-color: #f29e4c;
    color: #fff;
}
.tag.music {
    background-color: #7ac1a9;
    color: #fff;
}
.tag.other {
    background-color: #d3d3d3;
    color: #000;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    color: #fff;
  }
  
  .navbar-left a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  .navbar-right a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  .navbar-right a:hover {
    text-decoration: underline;
  }

  nav a:hover{
    color: black;
  }
  