body {
    background-color: #c3ddf2; /* Updated to a blue color */
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: #333;
  }
  
  label {
    float: left;
    
   
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="password"] {
    width: 300px; /* Updated to be wider */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px; /* Increased margin */
  }
  
  button {
    background-color: #4286f4; /* Changed to a different blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Added margin */
  }
  
  button:hover {
    background-color: #1952a3; /* Darkened the hover color */
  }
  
  #error-message {
    color: red;
  }
  
  #form1,
  #form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px; /* Updated to be wider */
    margin: 100px auto; /* Added margin from the top */
    padding: 40px;
    background-color: #fff;
    border-radius: 20px; /* Increased border radius */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2); /* Increased box shadow */
  }
  